
body {
  background-image: url(../../images/Images/49619.jpeg);
  height: 800px;
  width: auto;
  background-repeat: no-repeat;
 }
 #demo{
   font-weight: bold;
   font-size: x-large;
   color: green;
 }
 
